{% extends "common/base_tmp.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-6 col-md-offset-6">
                    <h2>推荐结果如下：</h2>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>推荐院校</th>
                        <th>录取批次</th>
                        <th>推荐策略</th>
                        <th>推荐程度</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key in riskly_results %}
                        <tr>
                            <td>{{ key[0] }}</td>
                            <td>{{ key[2] }}</td>
                            <td>冲</td>
                            <td>{{ key[1] }}</td>
                        </tr>
                    {% endfor %}
                    {% for key in surely_results %}
                        <tr>
                            <td>{{ key[0] }}</td>
                            <td>{{ key[2] }}</td>
                            <td>稳</td>
                            <td>{{ key[1] }}</td>
                        </tr>
                    {% endfor %}
                    {% for key in definite_results %}
                        <tr>
                            <td>{{ key[0] }}</td>
                            <td>{{ key[2] }}</td>
                            <td>保</td>
                            <td>{{ key[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}