{% extends "common/base_tmp.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>高考志愿填报辅助系统</h1>
            <h2>为湖南考生服务，输入您的分科和高考名次，即可获得填报志愿推荐</h2>
            <p>根据可能录取的概率以及填报的策略，将分为三种推荐结果:</p>
            <p>冲、稳、保</p>
            <p>在尽可能利用分数的情况下录取概率由低到高</p>
        </div>

        <div class="row">
            <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499" size="10" />
        </div>

        <div class="row">
            <div class="col-lg-12 ">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center">输入您的分科和分数或名次获得推荐！</h2>
                    </div>
                </div>

                    <div class="text-center">

                        <form method="post" action="query">
                            {{ form.csrf_token }}
{#                            <div class="custom-control-inline" >#}
{##}
{#                                <select id="Kind" class="form-control">#}
{#                                    <option>文科</option>#}
{#                                    <option>理科</option>#}
{#                                </select>#}
{#                                <div class="input-group">#}
{#                                  <input type="text" class="form-control" id="Kind" placeholder="科目">#}
{#                                  <div class="input-group-addon">科</div>#}
{#                                </div>#}
{##}
{#                            </div>#}

{#                            <div class="custom-control-inline">#}
{##}
{#                                <label class="sr-only" for="Rank">名次</label>#}
{#                                <div class="input-group">#}
{#                                  <input type="text" class="form-control" id="Rank" placeholder="名次">#}
{#                                  <div class="input-group-addon">名</div>#}
{#                                </div>#}
{##}
{#                            </div>#}


                            <p>
                                {{ form.kind.label }}
                                {{ form.kind(class='from-contorl') }}


                                {{ form.rank.label }}
                                {{ form.rank(class='from-contorl') }}


                                {{ form.grade.label }}
                                {{ form.grade(class='from-contorl') }}
                            </p>

                            <a>您可以选择各个推荐方案的占比</a>

                            <p>

                                {{ form.risk_num.label }}
                                {{ form.risk_num(class='from-contorl', value = 3) }}

                                {{ form.sure_num.label }}
                                {{ form.sure_num(class='from-contorl', value = 3) }}

                                {{ form.def_num.label }}
                                {{ form.def_num(class='from-contorl', value = 4) }}

                                {{ form.submit(class='btn btn-primary') }}
                            </p>

{#                            <div class="custom-control-inline">#}
{#                                <label class="sr-only" for="Score">分数</label>#}
{#                                <div class="input-group">#}
{#                                  <input type="text" class="form-control" id="Score" placeholder="分数">#}
{#                                  <div class="input-group-addon">分</div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">#}
{##}
{#                            <div class="custom-control-inline">#}
{##}
{#                                <button type="submit" class="btn btn-primary m-3">查询</button>#}
{#                            </div>#}
                        </form>
                    </div>
            </div>
        </div>

    <div class="row">
        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499" size="10" />
    </div>


    <ul class="nav nav-list"><li class="divider"></li></ul>



    <div id="icon" class="row">
        <div class="col-lg-2">
            <a></a>
        </div>
        <div class="col-sm-2 col-lg-2">
            <div class="text-center">
                <a href="https://gkcx.eol.cn/school/search"><img src="/static/pic/高校.png" alt="你打球好像蔡徐坤" width="96" height="96"></a>
                <p><a class="btn btn-default center" href="https://gkcx.eol.cn/school/search" role="button">高校信息</a></p>
            </div>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-sm-2 col-lg-2">
            <div class="text-center">
                <a href="https://zhuanye.eol.cn/"><img src="/static/pic/专业名称.png" width="96" height="96"></a>
                <p><a class="btn btn-default center" href="https://zhuanye.eol.cn/" role="button">专业信息</a></p>
            </div>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-sm-2 col-lg-2">
            <div class="text-center">
                <a href="https://www.thea.cn/zt/345.htm"><img src="/static/pic/分数线查询.png" width="96" height="96"></a>
                <p><a class="btn btn-default text-center" href="https://www.thea.cn/zt/345.htm" role="button">分数线查询</a></p>
            </div>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-sm-2 col-lg-2">
            <div class="text-center">
                <a href="https://www.hneeb.cn/2018/lngzzl.asp?id=4&pdid=0"><img src="/static/pic/计划.png" width="96" height="96"></a>
                <p><a class="btn btn-default text-center" href="https://www.hneeb.cn/2018/lngzzl.asp?id=4&pdid=0" role="button">招生计划</a></p>
            </div>
        </div><!--/.col-xs-6.col-lg-4-->
    </div>
    <div class="row">
        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499" size="10" />
    </div>
</div>


<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>高校资讯</h3>
        </div>
        <div class="panel-body">
            <a>2019中国新一线城市最好大学排名：浙江大学第一</a><br>
            <a>校友会2019中国各线城市一流大学排名：武汉跻身全国前三</a><br>
            <a>Nature推出中南大学特刊</a><br>
            <a>耶鲁大学发现4张《学生救国报》</a><br>
        </div>
    </div>

    <div class="row">
        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499" size="10" />
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>高校展示</h3>
        </div>
        <div class="panel-body">
            <a>2019中国新一线城市最好大学排名：浙江大学第一</a><br>
            <a>校友会2019中国各线城市一流大学排名：武汉跻身全国前三</a><br>
            <a>Nature推出中南大学特刊</a><br>
            <a>耶鲁大学发现4张《学生救国报》</a><br>
        </div>
    </div>
</div>



{% endblock %}